*{
    margin: 0;
    padding: 0;
    
}

section{
    width: 1300px;
    margin: auto;
    }

.titulo{
    text-align: center;
    color: pink;
    font-size: 40px;
    margin-top: 80px;
}

.contenedor{
    width: auto;
    height: auto;
    background-color: gray;
    margin-top: 50px;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    
}

.contenedor div{
    width: 150px;
    height: 150px;
    background-color: gainsboro;
    border: 1px solid pink;
    margin: 20px;
    font-size: 100px;
    text-align: center;
    
}

